
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

@font-face {
	font-family:MyriadProLight;
	src: url("MyriadProLight.otf") format("opentype");
	font-weight: normal;
	font-style: normal; 
}


.cursor-pointer {
	cursor:pointer;
	}
/* Header */
#logo {
	float: left;
    height: 61px;
    margin: 31px 3px 0;
    position: relative;
    width: 270px; 
}
.noSVG #logo {
	 width: 270px; 
	  height: 61px;
	text-indent: -9999px;
	background: url(../images/ui.png) no-repeat -119px 0;
	}
.menu {
	float: right;
	text-align: right;
	margin-top: 31px;
	font-size: 0;
	-webkit-transition:opacity 1300ms ease-in-out;
	   -moz-transition:opacity 1300ms ease-in-out;
		-ms-transition:opacity 1300ms ease-in-out;
	     -o-transition:opacity 1300ms ease-in-out;
	        transition:opacity 1300ms ease-in-out;
	}
.formSent .menu {
	opacity:0;
}



/* TODO: Deleted: margin-left: 18px; */
UL.menu LI {
		position: relative;
		font-size: 14px;
		display: inline-block;
		vertical-align: top;
}

		.jsVisualButton {
			cursor: pointer;
			display: block;
			text-decoration: none;
			}


.fiurepin {
    left: -160px;
    position: absolute;
    top: -186px;
}
  
.menu .jsVisualButton.jsVisualButtonset {
    border: medium none !important;line-height: normal !important; color: #00a7e5 !important;
}
#nextContent .form-intro.form-intro-desktop.enableform {
    opacity: 1;
}
#currentContent .form-intro.form-intro-desktop {
    opacity: 1;
}
	.cotact-pars.cotact-parsset h3.contact-head {
    color: #0cbff2;margin-top: 0;
    font: lighter 20px open sans;
    margin-bottom: 4px;
}
.cotact-pars.cotact-parsset label {
    color: #f291bc;
    display: block;
    font: 15px open sans;
    margin-bottom: 6px;
}

.cotact-pars.cotact-parsset > span
{ color: #797878;
    float: left;
    font-size: 13px;
    line-height: 2;
    margin-bottom: 13px;
    width: 100%;}
	

i.breakline {
    display: block;
}
	
.cotact-pars.cotact-parsset .cotact-pars > span {
    color: #797878;
    float: left;
    font-size: 13px;
    line-height: 2;
    margin-bottom: 13px;
    width: 100%;
}
.cotact-pars.cotact-parsset .label-text {
    font-size: 15px;
}
.cotact-pars.cotact-parsset .label-text > span {
    display: block;
    line-height: 26px;
}
.cotact-pars.cotact-parsset .label-text label {
    color: #f06da9; display: inline;
    margin-right: 4px;
}

.grey_color
{
	color: #797878;
}

.cotact-pars.cotact-parsset .google-map {
  clear: both;
    margin-top: 20px;
    position: relative;
}

/*.pager-list li:last-child {
    display: none;
}*/
.cotact-pars.cotact-parsset {      margin-bottom: 10px;  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.94);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.11);
    padding: 30px;
  
    text-align: center;
/*    top: 37px;min-height: 420px; 
    width: 350px; 
	position: relative;*/
}
	

.ftrlabel-text.label-text span {
    display: block;
}
.ftrlabel-text.label-text label {
    float: left; color: #f06da9; 
    margin-right: 3px;
}
	
.ftrlabel-text.label-text a{text-decoration:none;} 

.ftrlabel-text.label-text a:hover{text-decoration:underline;}

.entry-icon small.smup {
    font-size: 12px;
    position: relative;
    top: -6px;
}
.entry-icon small.smbtm {
    font-size: 12px;
}


/* Tips */
.tip {
	position: absolute;
	color: #838383;
	font-size: 12px;
	font-family: Helvetica, Arial, sans-serif;
	-webkit-transition:opacity 300ms ease-in-out;
	   -moz-transition:opacity 300ms ease-in-out;
		-ms-transition:opacity 300ms ease-in-out;
	     -o-transition:opacity 300ms ease-in-out;
	        transition:opacity 300ms ease-in-out;
	}
.tip.hidden {
	opacity: 0;
	}
	.tip-arrow {
		position:absolute;
		display:block;
		}
#bankTip {
	top: 60px;
	width: 200px;
	right: 130px;
	opacity: 0;
	}
.isOldIE #bankTip {
	display: none;
	}
#bankTip.isVisible,
.noJS.img-welcome #bankTip {
	opacity: 1;
	display: block;
	}
.isOldIE .img-welcome #bankTip {
	display: block;
	}
.isNotTouch .jsVisualButton:hover #bankTip {
	opacity: 1;
	}
.isPressed #bankTip {
	top: 59px;
	}
	#bankTip .svgObject,
	.noJS #bankTip:before {
		content: '';
		position: absolute;
		right: -48px;
		top: -16px;
		display: block;
		width: 62px;
		height: 34px;
		}
	.noJS #bankTip:before {
		background: url(../images/ui.png) no-repeat 0 -17px;
		}
	.isPressed #bankTip .svgObject {
		top: -15px;
		}
#formTip {
	z-index: 999;
	width: 140px;
	text-align:right;
	color:#919191;
	bottom:45px;
	left:-200px;
	opacity: 0;
	-webkit-transition:opacity 300ms ease-in-out;
	   -moz-transition:opacity 300ms ease-in-out;
		-ms-transition:opacity 300ms ease-in-out;
	     -o-transition:opacity 300ms ease-in-out;
	        transition:opacity 300ms ease-in-out;
	}
#formTip.isVisible,
.isNotTouch .socialFill:hover #formTip {
	opacity: 1;
	}
.formSent #formTip.isVisible {
	opacity: 0;
	}
	#formTipArrow {
		top: 15px;
		right: -69px;
		}

/* Workspace */
#workspaceMovable {
	position: absolute;
	top: 0;
	left: 0;
	/*top: 50%;*/
	/*width: 99999px;*/
	/*height: 100%;*/
	min-height: 657px;
	z-index: 6;
	}
.isInit #workspaceMovable {
	/*position: relative;*/
	/*width: 99999px;*/
	/*height: 100%;*/
	}
.isInit #workspaceMovable {
	-webkit-transition:margin-left 1300ms ease-out, opacity 300ms ease-in-out;
	   -moz-transition:margin-left 1300ms ease-out, opacity 300ms ease-in-out;
		-ms-transition:margin-left 1300ms ease-out, opacity 300ms ease-in-out;
	     -o-transition:margin-left 1300ms ease-out, opacity 300ms ease-in-out;
	        transition:margin-left 1300ms ease-out, opacity 300ms ease-in-out;
	}
.formActive #workspaceMovable {
	z-index: 9;
	}
.formActive.formSent #workspaceMovable,
.formActive.isLoading #workspaceMovable {
	z-index: 7;
	}
.isTouch #workspaceMovable,
.isTouch .isInit #workspaceMovable {
	-webkit-transform: translate3d(0, 0, 0);
	}
.isTouch #workspaceMovable {
	-webkit-transition:-webkit-transform 0ms ease-out;
	}
.isTouch .isInit #workspaceMovable {
	-webkit-transition-duration:1300ms;
	}
.isInit.isNotAnimating #workspaceMovable {
	-webkit-transition-duration:0ms;
	   -moz-transition-duration:0ms;
		-ms-transition-duration:0ms;
	     -o-transition-duration:0ms;
	        transition-duration:0ms;
	}
.svg-container {
	opacity: 1;
	-webkit-transition:opacity 300ms ease-in-out;
	   -moz-transition:opacity 300ms ease-in-out;
		-ms-transition:opacity 300ms ease-in-out;
	     -o-transition:opacity 300ms ease-in-out;
	        transition:opacity 300ms ease-in-out;
	}
.formSent .svg-container {
	opacity: 0;
	}
	#figure {
		position: absolute;
		left: 0;
		-webkit-transition:opacity 450ms linear;
		   -moz-transition:opacity 450ms linear;
		     -o-transition:opacity 450ms linear;
		        transition:opacity 450ms linear;
		/*cursor: pointer;*/
		top: -6px;
		float: left;
		}
	#figureLine {
		display: block;
    float: left;
    position: absolute;
    right: 150px;
    top: -75px !important;
		}
	#figureClip,
	#figureClipTop {
		position: absolute;
		top: -30px;
		left: 40px;
		}
	#figureClip {
		z-index: 0;
		}
	#figureClipTop {
		z-index: 9;
		}
	/*.hideSVG #figure {*/
		/*opacity: 0;*/
		/*}*/
		/*.svgObject {*/
			/*display: block;*/
			/*position: absolute;*/
			/*left: 0;*/
			/*top: 0;*/
			/*}*/
	.content-node-text {
		/*margin-top: 103px;*/
		position: absolute;
		max-width: 561px;
		min-width: 400px;
		width: 30%;
		left: 58%;
		top: -20px;
		z-index: 4;
		opacity: 0;
		-webkit-transition: opacity 200ms ease-in-out;
		   -moz-transition: opacity 200ms ease-in-out;
			-ms-transition: opacity 200ms ease-in-out;
		     -o-transition: opacity 200ms ease-in-out;
		        transition: opacity 200ms ease-in-out;
		}
	.isInit #currentContent.content-node-text,
	.noJS #currentContent.content-node-text,
	.isInit .content-node-text {
		opacity: 1;
		}
	.isTouch .content-node-text {
		-webkit-transform: translate3d(0, 0, 0);
		}
	#currentContent.content-node-text {
		/*left: 50%;*/
		z-index: 10;
		}
	/*#prevContent.content-node-text {*/
		/*left: -50%;*/
		/*}*/
	.content-node-text.isForm {
		width: 430px;
		max-width: 430px;
		left: auto;
		right: 5%;
	/*	right: -150px;
		margin: 0 0 0 -320px;*/
		z-index: 999;
		-webkit-transition:-webkit-transform 1s ease-in-out;
		   -moz-transition:-moz-transform 1s ease-in-out;
			-ms-transition:-ms-transform 1s ease-in-out;
		     -o-transition:-o-transform 1s ease-in-out;
		        transition:transform 1s ease-in-out;
		-moz-transform-origin: bottom center;
		-webkit-transform-origin: bottom center;
		}
	.start-screen {
		margin-top: 90px;
		}
	.noJS .content-node-text {
		top: 90px;
		}
		.start-screen .jsButtonWrapper {
			margin-top: 30px;
			}

		/* Content heading */
		.mainHeading,
		.heading {
			font-weight: normal;
			color: #00A7E5;
			line-height: 1.1em;font-style: normal;
			font-family: 'MyriadProLight', Arial, sans-serif;
			opacity: 1;
			}
		.mainHeading {
			font-size: 39px;
			margin: 0;
			}
		.heading,
		.noJS #formAfterword .heading {
			font-size: 67px;
			margin: 0 0 10px;
			}
		.mainHeading.leftSide,
		.heading.leftSide,
		.mainHeading.rightSide,
		.heading.rightSide {
			opacity: 0;
			}
		.noJS .heading {
			margin-bottom: 83px;
			}
		.isNotTouch .mainHeading.rightSide,
		.isNotTouch .heading.rightSide {
			margin-left: 900px;
			}
		.isNotTouch .mainHeading,
		.isNotTouch .heading {
			-webkit-transition:margin-left 500ms ease-out, opacity 500ms ease-out;
			   -moz-transition:margin-left 500ms ease-out, opacity 500ms ease-out;
				-ms-transition:margin-left 500ms ease-out, opacity 500ms ease-out;
			     -o-transition:margin-left 500ms ease-out, opacity 500ms ease-out;
			        transition:margin-left 500ms ease-out, opacity 500ms ease-out;
			}
		/*.isNotTouch #nextContent .mainHeading,*/
		/*.isNotTouch #nextContent .heading {*/
			/*-webkit-transition:margin-left 500ms ease-out, opacity 290ms ease-out;*/
			   /*-moz-transition:margin-left 500ms ease-out, opacity 290ms ease-out;*/
				/*-ms-transition:margin-left 500ms ease-out, opacity 290ms ease-out;*/
			     /*-o-transition:margin-left 500ms ease-out, opacity 290ms ease-out;*/
			        /*transition:margin-left 500ms ease-out, opacity 290ms ease-out;*/
			/*}*/
		.isTouch .mainHeading.rightSide,
		.isTouch .heading.rightSide {
			-webkit-transform: translate3d(900px, 0, 0);
			}
		.isTouch .mainHeading,
		.isTouch .heading {
			-webkit-transform: translate3d(0, 0, 0);
			-webkit-transition: -webkit-transform 500ms ease-out, opacity 500ms ease-out;
			}
		/*.isTouch #nextContent .mainHeading,*/
		/*.isTouch #nextContent .heading {*/
			/*-webkit-transition: -webkit-transform 500ms ease-out, opacity 290ms ease-out;*/
			/*}*/

		.isNotTouch .mainHeading.leftSide,
		.isNotTouch .heading.leftSide {
			margin-left: -900px;
			}
		.isTouch .mainHeading.leftSide,
		.isTouch .heading.leftSide {
			-webkit-transform: translate3d(-900px, 0, 0);
			}

		/* Content intro text */
		.intro {
		
			position: relative;
			margin: 0;
			z-index: 3;
			}
		.intro.leftSide,
		.intro.rightSide,
		.intro.isHidden {
			opacity: 0;
			}
		.isNotTouch .intro {
			-webkit-transition:margin-left 500ms ease-out, opacity 216ms ease-out;
			   -moz-transition:margin-left 500ms ease-out, opacity 216ms ease-out;
				-ms-transition:margin-left 500ms ease-out, opacity 216ms ease-out;
			     -o-transition:margin-left 500ms ease-out, opacity 216ms ease-out;
			        transition:margin-left 500ms ease-out, opacity 216ms ease-out;
			}
		/*.isNotTouch #nextContent .intro {*/
			/*-webkit-transition:margin-left 500ms ease-out, opacity 290ms ease-out;*/
			   /*-moz-transition:margin-left 500ms ease-out, opacity 290ms ease-out;*/
				/*-ms-transition:margin-left 500ms ease-out, opacity 290ms ease-out;*/
			     /*-o-transition:margin-left 500ms ease-out, opacity 290ms ease-out;*/
			        /*transition:margin-left 500ms ease-out, opacity 290ms ease-out;*/
			/*}*/
		.isNotTouch .intro.rightSide {
			margin-left: 700px;
			}
		.iPad .intro,
        .AndroidPad .intro {
			-webkit-transition: -webkit-transform 500ms ease-out, opacity 216ms ease-out;
			}
		.isTouch .intro {
			-webkit-transform: translate3d(0, 0, 0);
			}
		.isTouch .intro.rightSide {
			-webkit-transform: translate3d(700px, 0, 0);
			}
		/*.isTouch #nextContent .intro {*/
			/*-webkit-transition: -webkit-transform 500ms ease-out, opacity 290ms ease-out;*/
			/*}*/
		.isNotTouch .intro.leftSide {
			margin-left: -700px;
			}
		.isTouch .intro.leftSide {
			-webkit-transform: translate3d(-700px, 0, 0);
			}
			.intro P {
				font-size: 13.5px;
    font-style: normal;
    margin: 16px 0 0;
				}

		/* Detail button for mobile devices */
		#detailButton {
			display: none;
			opacity: 0;
			-webkit-transition:opacity 1300ms ease-in-out;
			}
		#detailButton.isVisible {
			opacity: 1;
			}
			#detailButton .btn-text {
				display: block;
				position: absolute;
				width: 24px;
				height: 14px;
				top: 20px;
				left: 14px;
				background: url(../images/ui.png) no-repeat -62px -60px;
				}
			.visible-description #detailButton .btn-text {
				top: 17px;
				background-position: -62px -45px;
				}
			#detailButton.isPressed .btn-text {
				top: 21px;
				}
			.visible-description #detailButton.isPressed .btn-text {
				top: 18px;
				}

		/* Content entries and icons for them */
		.entries {
			width: 100%;
			margin: 25px 0 0;
			padding: 0;
			/*z-index: 9;*/
			font-size: 0;
			height: 52px;
			opacity: 0;
			list-style: none;
			}
		.isInit .entries,
		.noJS .entries {
			opacity: 1;
			}
		.noJS .entries {
			position: absolute;
			top: 105px;
			}
		.entries.leftSide,
		.entries.rightSide,
		.entries.isHidden {
			opacity: 0;
			}
		.isNotTouch .entries {
			-webkit-transition:margin-left 500ms ease-out, opacity 216ms ease-out;
			   -moz-transition:margin-left 500ms ease-out, opacity 216ms ease-out;
				-ms-transition:margin-left 500ms ease-out, opacity 216ms ease-out;
			     -o-transition:margin-left 500ms ease-out, opacity 216ms ease-out;
			        transition:margin-left 500ms ease-out, opacity 216ms ease-out;
			}
		/*.isNotTouch #nextContent .entries {*/
			/*-webkit-transition:margin-left 500ms ease-out, opacity 290ms ease-out;*/
			   /*-moz-transition:margin-left 500ms ease-out, opacity 290ms ease-out;*/
				/*-ms-transition:margin-left 500ms ease-out, opacity 290ms ease-out;*/
			     /*-o-transition:margin-left 500ms ease-out, opacity 290ms ease-out;*/
			        /*transition:margin-left 500ms ease-out, opacity 290ms ease-out;*/
			/*}*/
		.isNotTouch .entries.rightSide {
			margin-left: 1110px;
			}
		.isTouch .entries {
			/*z-index: 9;*/
			-webkit-transform: translate3d(0, 0, 0);
			}
		.iPad .entries,
        .AndroidPad .entries {
			-webkit-transition: -webkit-transform 500ms ease-out, opacity 216ms ease-out;
			}
		.isTouch .entries.rightSide {
			-webkit-transform: translate3d(1110px, 0, 0);
			}
		/*.isTouch #nextContent .entries {*/
			/*-webkit-transition: -webkit-transform 500ms ease-out, opacity 290ms ease-out;*/
			/*}*/
		.isNotTouch .entries.leftSide {
			margin-left: -1110px;
			}
		.isTouch .entries.leftSide {
			-webkit-transform: translate3d(-1110px, 0, 0);
			}
			.entry-link {
				position: relative;
				float: left;
				margin: 0 15px 0 0;
				vertical-align: top;
				/*z-index: 9;*/
				width: 51px;
				/*opacity: 0;*/
				cursor: pointer;
				}
			.entry-link.isOnPlace {
				/*opacity: 1;*/
				}
			.isNotTouch .entry-link {
				-webkit-transition:margin-left 500ms ease-out, opacity 560ms ease-out;
				   -moz-transition:margin-left 500ms ease-out, opacity 560ms ease-out;
					-ms-transition:margin-left 500ms ease-out, opacity 560ms ease-out;
				     -o-transition:margin-left 500ms ease-out, opacity 560ms ease-out;
				        transition:margin-left 500ms ease-out, opacity 560ms ease-out;
				}
			.isTouch .entry-link {
				/*position: absolute;*/
				/*top: 0;*/
				/*left: 0;*/
				}
			/*.isNotTouch #nextContent .entry-link {*/
				/*-webkit-transition:margin-left 500ms ease-out, opacity 160ms ease-out;*/
				   /*-moz-transition:margin-left 500ms ease-out, opacity 160ms ease-out;*/
					/*-ms-transition:margin-left 500ms ease-out, opacity 160ms ease-out;*/
				     /*-o-transition:margin-left 500ms ease-out, opacity 160ms ease-out;*/
				        /*transition:margin-left 500ms ease-out, opacity 160ms ease-out;*/
				/*}*/
			.isNotTouch .rightSide .entry-link {
				margin-left: 1110px;
				}
			.isNotTouch .leftSide .entry-link {
				margin-left: -1110px;
				}
			.isNotTouch .rightSide .entry-link.isOnPlace,
			.isNotTouch .leftSide .entry-link.isOnPlace {
				margin-left: 0;
				}
			.isTouch .rightSide .entry-link {
				-webkit-transform: translate3d(1110px, 0, 0);
				}
			.isTouch .leftSide .entry-link {
				-webkit-transform: translate3d(-1110px, 0, 0);
				}
			/*.isTouch #nextContent .entry-link {*/
				/*-webkit-transition: -webkit-transform 500ms ease-out, opacity 290ms ease-out;*/
				/*}*/
			.isTouch .rightSide .entry-link.isOnPlace,
			.isTouch .leftSide .entry-link.isOnPlace {
				-webkit-transform: translate3d(0, 0, 0);
				}
				.entry-link.btn-big .jsVisualButton {
					width: 52px;
					padding: 0;
					}
				.entry-icon {
					position: absolute;
					display: block;
					width: 41px;
					height: 24px;
					top: 2px;
					left: 5px;
					/*z-index: 1;*/
					/*background: url(../images/ui.png) no-repeat;*/
					color: transparent;
					}
                .entry-row .jsButtonWrapper {
                    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                    }
				.isPressed .entry-icon,
				.isActive .entry-icon {
					top: 3px;
					}
				.path-object-hover {
					display: none;
					}
					.isNotTouch .entry-icon:hover .path-object,
					.isActive .entry-icon .path-object,
					.isPressed .entry-icon .path-object {
						display: none;
						}
					.isNotTouch .entry-icon:hover .path-object-hover,
					.isActive .path-object-hover,
					.isPressed .path-object-hover {
						display: block;
						}
				.noSVG .jsRealButton.entry-icon,
				.isOldIE .jsRealButton.entry-icon {
					width: 51px;
					height: 51px;
					top: 2px;
					left: 2px;
					background: url(../images/ui.png) no-repeat;
					}
				.noSVG #icon110,
				.noSVG #icon146 {
					background-position: 0 -110px;
					}
				.noSVG #icon110:hover,
				.noSVG #icon110.isActive,
				.noSVG #icon110.isPressed,
				.noSVG #icon146:hover,
				.noSVG #icon146.isActive,
				.noSVG #icon146.isPressed {
					background-position: -49px -110px;
					}
				.noSVG #icon148,
				.noSVG #icon103 {
					background-position: -98px -112px;
					}
				.noSVG #icon148:hover,
				.noSVG #icon148.isActive,
				.noSVG #icon148.isPressed,
				.noSVG #icon103:hover,
				.noSVG #icon103.isActive,
				.noSVG #icon103.isPressed {
					background-position: -147px -112px;
					}
				.noSVG #icon111,
				.noSVG #icon104 {
					background-position: -196px -111px;
					}
				.noSVG #icon111:hover,
				.noSVG #icon111.isActive,
				.noSVG #icon111.isPressed,
				.noSVG #icon104:hover,
				.noSVG #icon104.isActive,
				.noSVG #icon104.isPressed {
					background-position: -245px -111px;
					}
				.noSVG #icon149,
				.noSVG #icon106,
				.noSVG #icon119,
				.noSVG #icon134 {
					background-position: -294px -110px;
					}
				.noSVG #icon149:hover,
				.noSVG #icon149.isActive,
				.noSVG #icon149.isPressed,
				.noSVG #icon106:hover,
				.noSVG #icon106.isActive,
				.noSVG #icon106.isPressed,
				.noSVG #icon119:hover,
				.noSVG #icon119.isActive,
				.noSVG #icon119.isPressed,
				.noSVG #icon134:hover,
				.noSVG #icon134.isActive,
				.noSVG #icon134.isPressed {
					background-position: -343px -110px;
					}
				.noSVG #icon112,
				.noSVG #icon144 {
					background-position: 0 -160px;
					}
				.noSVG #icon112:hover,
				.noSVG #icon112.isActive,
				.noSVG #icon112.isPressed,
				.noSVG #icon144:hover,
				.noSVG #icon144.isActive,
				.noSVG #icon144.isPressed {
					background-position: -49px -160px;
					}
				.noSVG #icon136,
				.noSVG #icon107 {
					background-position: -98px -160px;
					}
				.noSVG #icon136:hover,
				.noSVG #icon136.isActive,
				.noSVG #icon136.isPressed,
				.noSVG #icon107:hover,
				.noSVG #icon107.isActive,
				.noSVG #icon107.isPressed {
					background-position: -147px -160px;
					}
				.noSVG #icon113,
				.noSVG #icon142 {
					background-position: -196px -160px;
					}
				.noSVG #icon113:hover,
				.noSVG #icon113.isActive,
				.noSVG #icon113.isPressed,
				.noSVG #icon142:hover,
				.noSVG #icon142.isActive,
				.noSVG #icon142.isPressed {
					background-position: -245px -160px;
					}
				.noSVG #icon114,
				.noSVG #icon143 {
					background-position: -294px -160px;
					}
				.noSVG #icon114:hover,
				.noSVG #icon114.isActive,
				.noSVG #icon114.isPressed,
				.noSVG #icon143:hover,
				.noSVG #icon143.isActive,
				.noSVG #icon143.isPressed {
					background-position: -343px -160px;
					}
				.noSVG #icon115,
				.noSVG #icon124 {
					background-position: 0 -210px;
					}
				.noSVG #icon115:hover,
				.noSVG #icon115.isActive,
				.noSVG #icon115.isPressed,
				.noSVG #icon124:hover,
				.noSVG #icon124.isActive,
				.noSVG #icon124.isPressed {
					background-position: -49px -210px;
					}
				.noSVG #icon116,
				.noSVG #icon140 {
					background-position: -98px -210px;
					}
				.noSVG #icon116:hover,
				.noSVG #icon116.isActive,
				.noSVG #icon116.isPressed,
				.noSVG #icon140:hover,
				.noSVG #icon140.isActive,
				.noSVG #icon140.isPressed {
					background-position: -147px -210px;
					}
				.noSVG #icon117,
				.noSVG #icon137 {
					background-position: -196px -210px;
					}
				.noSVG #icon117:hover,
				.noSVG #icon117.isActive,
				.noSVG #icon117.isPressed,
				.noSVG #icon137:hover,
				.noSVG #icon137.isActive,
				.noSVG #icon137.isPressed {
					background-position: -245px -210px;
					}
				.noSVG #icon118,
				.noSVG #icon126 {
					background-position: -294px -210px;
					}
				.noSVG #icon118:hover,
				.noSVG #icon118.isActive,
				.noSVG #icon118.isPressed,
				.noSVG #icon126:hover,
				.noSVG #icon126.isActive,
				.noSVG #icon126.isPressed {
					background-position: -344px -210px;
					}
				.noSVG #icon120,
				.noSVG #icon121 {
					background-position: 0 -260px;
					}
				.noSVG #icon120:hover,
				.noSVG #icon120.isActive,
				.noSVG #icon120.isPressed,
				.noSVG #icon121:hover,
				.noSVG #icon121.isActive,
				.noSVG #icon121.isPressed {
					background-position: -49px -260px;
					}
				.noSVG #icon122,
				.noSVG #icon139 {
					background-position: -98px -260px;
					}
				.noSVG #icon122:hover,
				.noSVG #icon122.isActive,
				.noSVG #icon122.isPressed,
				.noSVG #icon139:hover,
				.noSVG #icon139.isActive,
				.noSVG #icon139.isPressed {
					background-position: -147px -260px;
					}
				.noSVG #icon123,
				.noSVG #icon138 {
					background-position: -196px -259px;
					}
				.noSVG #icon123:hover,
				.noSVG #icon123.isActive,
				.noSVG #icon123.isPressed,
				.noSVG #icon138:hover,
				.noSVG #icon138.isActive,
				.noSVG #icon138.isPressed {
					background-position: -245px -259px;
					}
				.noSVG #icon125,
				.noSVG #icon141 {
					background-position: 0 -308px;
					}
				.noSVG #icon125:hover,
				.noSVG #icon125.isActive,
				.noSVG #icon125.isPressed,
				.noSVG #icon141:hover,
				.noSVG #icon141.isActive,
				.noSVG #icon141.isPressed {
					background-position: -49px -308px;
					}
				.noSVG #icon132,
				.noSVG #icon131 {
					background-position: -98px -307px;
					}
				.noSVG #icon132:hover,
				.noSVG #icon132.isActive,
				.noSVG #icon132.isPressed,
				.noSVG #icon131:hover,
				.noSVG #icon131.isActive,
				.noSVG #icon131.isPressed {
					background-position: -147px -307px;
					}
				.noSVG #icon128,
				.noSVG #icon127 {
					background-position: -196px -307px;
					}
				.noSVG #icon128:hover,
				.noSVG #icon128.isActive,
				.noSVG #icon128.isPressed,
				.noSVG #icon127:hover,
				.noSVG #icon127.isActive,
				.noSVG #icon127.isPressed {
					background-position: -245px -307px;
					}
				.noSVG #icon129,
				.noSVG #icon130 {
					background-position: -294px -307px;
					}
				.noSVG #icon129:hover,
				.noSVG #icon129.isActive,
				.noSVG #icon129.isPressed,
				.noSVG #icon130:hover,
				.noSVG #icon130.isActive,
				.noSVG #icon130.isPressed {
					background-position: -343px -307px;
					}
			.entry-body {
				position: absolute;
				top: 133px;
				left: 0;
				opacity: 0;
				z-index: 1;
				font-size: 14px;
				font-style: normal;
				}
			.isInit .entry-body {
				-webkit-transition:opacity 300ms ease-in-out;
				   -moz-transition:opacity 300ms ease-in-out;
					-ms-transition:opacity 300ms ease-in-out;
				     -o-transition:opacity 300ms ease-in-out;
				        transition:opacity 300ms ease-in-out;
				}
			.noJS .entry-body {
				background: #FFF;
				top: 200px;
				height: 210px;
				}
			.entry-body:target,
			.intro:target {
				z-index: 999;
				opacity: 1;
				}
			.entry-body.isOut,
			#currentContent.onLeft .entry-body.isOut {
				margin-left: 0;
				opacity: 0;
				}
			#currentContent .entry-body.isOnPlace {
				margin-left: 0;
				opacity: 1;
				z-index: 8;
				}
				.entry-body P {
					margin: 0;
					padding: 0;
					}

		/* Content form */
		#promoForm {
			position: relative;
			z-index: 1;
			-webkit-transition: -webkit-transform 1s ease-in-out, opacity 2s ease-in-out;
			   -moz-transition: -moz-transform 1s ease-in-out, opacity 2s ease-in-out;
				-ms-transition: -ms-transform 1s ease-in-out, opacity 2s ease-in-out;
			     -o-transition: -o-transform 1s ease-in-out, opacity 2s ease-in-out;
			        transition: transform 1s ease-in-out, opacity 2s ease-in-out;
			-webkit-transform-origin: bottom center;
			-moz-transform-origin: bottom center;
			-ms-transform-origin: bottom center;
			-o-transform-origin: bottom center;
			transform-origin: bottom center;
			font-size: 16px;
			text-align: center;
			top: -30px;
			left: -30px;
		
			}
		.goAway #promoForm {
			opacity:0;
			-webkit-transform: scale(0.1);
			-moz-transform: scale(0.1);
			-ms-transform: scale(0.1);
			-o-transform: scale(0.1);
			transform: scale(0.1);
			}
		#promoForm.isHidden {
			display: none;
			}
		#promoForm.isAnimating {
			-webkit-transform-style: preserve-3d;
			-moz-transform-style: preserve-3d;
			-ms-transform-style: preserve-3d;
			-o-transform-style: preserve-3d;
			transform-style: preserve-3d;
			-webkit-perspective: 800px;
			-moz-perspective: 800px;
			-ms-perspective: 800px;
			-o-perspective: 800px;
			perspective: 800px;
			}
		.isTouch #promoForm.isAnimating {
			-webkit-transition:opacity 190ms ease-out;
			}
		.noJS .isForm.content-node-text,
		.isOldIE .isForm.content-node-text {
			right: 50%;
			overflow: visible;
			top: 60px;
			}
			.noJS #promoForm,
			.isOldIE #promoForm {
				margin-left: 230px;
				background: #FFF;
				width: 430px;
				left: 190px;
				}
			.isOldIE #promoForm {
				border: 1px solid #E9E9EA;
				}
			#promoFormTopOverlay {
				position: absolute;
				background: #FFF;
				z-index: 9;
				display: none;
				width: 640px;
				}
			#promoFormTopOverlay.isVisible {
				display: block;
				}
			#promoFormTopBack,
			#promoFormBottomBack {
				overflow: hidden;
				left: -30px;
				padding: 0 30px;
				/*position: absolute;*/
                width: 430px;
				}
			#promoFormTopBack {
			    top: -30px;
				padding-top: 30px;
				z-index: 9;
				}
			#promoFormBottomBack {
				bottom: -30px; display: none;
				padding-bottom: 30px;
				z-index: 0;
				}
			#promoFormTop,
			#promoFormBottom {
				z-index: 1;
				position: relative;
				padding: 0 51px;
				-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.11);
						box-shadow: 0 2px 10px rgba(0, 0, 0, 0.11);
				}
			#promoFormBottom .jsTextareaWrapper {
				-webkit-transition: opacity 200ms ease-in-out;
				   -moz-transition: opacity 200ms ease-in-out;
					-ms-transition: opacity 200ms ease-in-out;
				     -o-transition: opacity 200ms ease-in-out;
				        transition: opacity 200ms ease-in-out;
				}
			.hideFormElements #promoFormBottom .jsTextareaWrapper,
			.hideFormElements #promoFormBottom .form-controls,
			/*#promoForm.isAnimating .socialFill,*/
			.hideFormElements .socialFill {
				opacity: 0;
				}
			/*#promoFormTop {
				-moz-transition: opacity 2s ease-in-out;
				-webkit-transition: opacity 2s ease-in-out;
				}
			.isFlipped #promoFormTop {
				opacity: 0;
				}*/
			#promoFormTopBack,
			#promoFormBottomBack {
				-webkit-transition: -webkit-transform 1.3s ease-in-out;
				-moz-transition: -moz-transform 1.3s ease-in-out;
				-ms-transition: -ms-transform 1.3s ease-in-out;
				-o-transition: -o-transform 1.3s ease-in-out;
				transition: transform 1.3s ease-in-out;
				-webkit-transform-origin: bottom;
				-moz-transform-origin: bottom;
				-ms-transform-origin: bottom;
				-o-transform-origin: bottom;
				transform-origin: bottom;
				}
			#promoFormTopBack.isFlipped {
				-webkit-transform: rotateX( -180deg );
				-moz-transform: rotateX( -180deg );
				-ms-transform: rotateX( -180deg );
				-o-transform: rotateX( -180deg );
				transform: rotateX( -180deg );
				}
			#promoFormTop,
			#promoFormBottom {
				background: rgba(255, 255, 255, 0.94);
				}
			.form-intro {
				position:absolute;
				top:121px;
				/*left:-458px;*/
				left:-458px;
				width:380px;
				padding:0 32px;
				line-height:20px;
				-webkit-transition: opacity 500ms ease-in-out;
				   -moz-transition: opacity 500ms ease-in-out;
					-ms-transition: opacity 500ms ease-in-out;
				     -o-transition: opacity 500ms ease-in-out;
				        transition: opacity 500ms ease-in-out;
				}
			.form-intro,
			.formSent .form-intro,
			.hideFormElements .form-intro,
			.hideFormElements .formActive .form-intro {
				opacity: 0;
				}
			/*.goAway .form-intro,*/
			.form-intro-mobile,
			.iPhone .form-intro-desktop,
			.AndroidPhone .form-intro-desktop {
				display:none;
				}
			.formActive .form-intro {
				opacity: 1;
				}
				.form-intro P {
				font-size: 14px;
				font-style: normal;
				margin: 0 0 20px;
				}
			.noJS .form-intro,
			.isOldIE .form-intro {
				opacity: 1;
				}
			.noJS .form-intro {
				left: 50%;
				margin-left: -210px;
				}
			.form-controls {
				position: relative;
				font-size:0;
				background:url(../images/spinner.gif) no-repeat -50% -50%;
				-webkit-transition: opacity 200ms ease-in-out;
				   -moz-transition: opacity 200ms ease-in-out;
					-ms-transition: opacity 200ms ease-in-out;
				     -o-transition: opacity 200ms ease-in-out;
				        transition: opacity 200ms ease-in-out;
				}
			.isLoading .form-controls {
				background-position:50% 27%;
				}
				.isLoading .form-controls .jsButtonWrapper,
				.formSent .form-controls .jsButtonWrapper {
					visibility:hidden;
					}
				.jsInputWrapper {
					text-align: center;
					}

        .form-additional-links {
            position: relative;
            z-index: 999;
            padding-top: 0;
            font-size: 14px;
            text-align: center;
            color: #939396;
            font-family: 'Myriad Pro', Arial, sans-serif;
            }
            .form-additional-links A {
                color: #939396;
                text-decoration: none;
                }
            .isNotTouch .form-additional-links A:hover {
                text-decoration: underline;
                }

		#formAfterword {
			opacity:0;
			z-index:-1;
			-webkit-transition: opacity 500ms ease-in-out;
			   -moz-transition: opacity 500ms ease-in-out;
				-ms-transition: opacity 500ms ease-in-out;
			     -o-transition: opacity 500ms ease-in-out;
			        transition: opacity 500ms ease-in-out;
			}
		#formAfterword.isOnPlace {
			opacity:1;
			z-index:999;
			}
		.isCSSGradientUnfriendly #formAfterword {
			display:none;
			}
			#formAfterword .btn-big {
				margin-top: 80px;
				}

.jsArrow,
.staticArrow {
	width:30px;
	height:58px;
	position:fixed;
	top:50%;
	padding: 6px 20px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	-ms-border-radius: 35px;
	border-radius: 35px;
	background:none;
	margin-top:-29px;
	/*-webkit-transition: opacity 200ms ease-in-out;*/
	   /*-moz-transition: opacity 200ms ease-in-out;*/
		/*-ms-transition: opacity 200ms ease-in-out;*/
	     /*-o-transition: opacity 200ms ease-in-out;*/
	        /*transition: opacity 200ms ease-in-out;*/
	z-index: 999;
	}
.jsArrow,
.noJS .jsArrow {
	opacity: 1;
	}
.isTouch .jsArrow,
.jsArrow.isHidden,
.jsArrow.isDisabled {
	opacity: 0;
	}
#arrowLeftContainer {
	left:30px;
	}
#arrowRightContainer {
	right:50px;
	}
.noJS .jsArrow,
.staticArrow {
	display: block;
	z-index: 999999999;
	background: url("../images/ui.png") no-repeat;
	cursor: pointer;
	}
.noJS #arrowLeftContainer {
	background-position: 0 -52px;
	}
.noJS #arrowRightContainer {
	background-position: -31px -52px;
	}
.jsArrow,
.noJS .jsArrow {
	display: none;
	}
.isInit .jsArrow {
	display: block;
	}
.isOldIE .jsArrow,
.noJS .jsArrow,
.staticArrow {
	padding: 0;
	}

.footer {
	width: 100%;
	position: absolute;
	bottom: 31px;
	left: 0;
	z-index: 10;
	}
	.footer-content {
		position: relative;
		margin: 0 30px;
		}
        .footer-contacts{
            position: absolute;
            left:3px;
            color:#999;
            font-size:12px;
            line-height:16px;
            top:10px;
            z-index: 10;
            }
            .footer-contacts-mail{
                text-decoration: none;
                color:#999;
                }
            .isNotTouch .footer-contacts-mail:hover{
                color:#00a7e5;
                }
		.copyright {
			float: left;
			color: #999;
			margin: 12px 0;
			font-size: 12px;
			font-family: 'Myriad Pro', Arial, sans-serif;
			}
		.pager {
			position: absolute;
			top: -5px;
			width: 100%;
			text-align: center;
			-webkit-transition: opacity 300ms ease-in-out;
			   -moz-transition: opacity 300ms ease-in-out;
				-ms-transition: opacity 300ms ease-in-out;
			     -o-transition: opacity 300ms ease-in-out;
			        transition: opacity 300ms ease-in-out;
			opacity: 0;
			}
		.startScreenPassed .pager {
			opacity: 1;
			}
		.noJS .pager {
			top:-10px;
			}
			.pager-list {
				position: relative;
				height: 13px;
				margin: 0;
				padding: 0;
				display: inline-block;
				font-size: 0;
				list-style: none;
				}
			.pager-list-static {
				display:none;
				}
			.noJS .pager-list-static {
				display:block;
				}
				.jsPagerItem {
					position: relative;
					z-index: 3;
					display: inline-block;
					vertical-align: top;
					padding: 0 10px;
					}
				.jsPagerItem.isFirst {
					display: none;
					}
				.jsPagerItem.isLast {
					top: -4px;
					}
				.isOldIE .jsPagerItem,
				.noJS .jsPagerItem {
					vertical-align: top;
					top: 0;
					}
					.jsPagerItemSelector {
						display: block;
						width: 11px;
						height: 11px;
						cursor: pointer;
						background: #B2B9BB;
						border: 1px solid #B2B9BB;
						-webkit-border-radius: 7px;
						-moz-border-radius: 7px;
						-ms-border-radius: 7px;
						border-radius: 7px;
						-webkit-tap-highlight-color: rgba(0,0,0,0);
						-webkit-transition: background-color 150ms ease-in-out, border-color 150ms ease-in-out;
						   -moz-transition: background-color 150ms ease-in-out, border-color 150ms ease-in-out;
							-ms-transition: background-color 150ms ease-in-out, border-color 150ms ease-in-out;
						     -o-transition: background-color 150ms ease-in-out, border-color 150ms ease-in-out;
						        transition: background-color 150ms ease-in-out, border-color 150ms ease-in-out;
						}
					.isNotTouch .jsPagerItemSelector:hover,
					.isActive .jsPagerItemSelector,
					.isNotTouch .isActive .jsPagerItemSelector:hover,
					.noJS .jsPagerItemSelector:hover {
						border-color: #0093CA;
						background: #00A7E5;
						}
					.isActive .jsPagerItemSelector {
						cursor: default;
						}
					.isLast .jsPagerItemSelector,
					.isNotTouch .isLast .jsPagerItemSelector:hover,
					.isActive.isLast .jsPagerItemSelector,
					.isNotTouch .isActive.isLast .jsPagerItemSelector:hover {
						width: 19px;
						/*height: 13px;*/
						border: 0;
						-webkit-border-radius: 0;
						-moz-border-radius: 0;
						-ms-border-radius: 0;
						border-radius: 0;
						/*background:none;*/
						}
					.noSVG .isLast .jsPagerItemSelector {
						height: 14px;
						background: url(../images/ui.png) no-repeat;
						}
					.noSVG .isLast .jsPagerItemSelector:hover,
					.noSVG .isActive.isLast .jsPagerItemSelector,
					.noSVG .isActive.isLast .jsPagerItemSelector:hover {
						background: url(../images/ui.png) no-repeat -19px 0;
						}
						.envelope {
							position:relative;
							display:block;
							width:18px;
							height:18px;
							-webkit-transition: -webkit-transform 1s ease-in-out;
							   -moz-transition: -moz-transform 1s ease-in-out;
								-ms-transition: -ms-transform 1s ease-in-out;
							     -o-transition: -o-transform 1s ease-in-out;
							        transition: transform 1s ease-in-out;
							}
						.envelope,
						.isNotTouch .envelope:hover,
						.isActive .envelope,
						.isNotTouch .isActive .envelope:hover {
							background:none;
							}
						.envelope.goAway {
							-webkit-transform: translate3d(0, 300px, 0);
							   -moz-transform: translate3d(0, 300px, 0);
								-ms-transform: translate3d(0, 300px, 0);
							     -o-transform: translate3d(0, 300px, 0);
									transform: translate3d(0, 300px, 0);
							}
						.noSVG .envelope.goAway {
							display: none;
							}
						.isCSSGradientUnfriendly .envelope.goAway,
						.isOpera .envelope.goAway {
							visibility:hidden;
							}
						.noSVG .envelope {
							height: 13px;
							}
					.isNotTouch .envelope:hover .path-object,
					.isActive .envelope .path-object,
					.isPressed .envelope .path-object {
						display: none;
						}
					.isNotTouch .envelope:hover .path-object-hover,
					.isActive .path-object-hover,
					.isPressed .path-object-hover {
						display: block;
						}
		.socialFill {
			display: none;
			position:absolute;
			bottom:10px;
			bottom:10px;
			left:82px;
			font-size:0;
			-webkit-transition: opacity 300ms ease-in-out;
			   -moz-transition: opacity 300ms ease-in-out;
				-ms-transition: opacity 300ms ease-in-out;
			     -o-transition: opacity 300ms ease-in-out;
			        transition: opacity 300ms ease-in-out;
			}
		.formActive .socialFill,
		.isAnimating .socialFill {
			z-index: 99;
			}
			.social-fill-icon {
				width: 27px;
				height: 27px;
				display: inline-block;
				margin-right: 10px;
				background: #FFF;
				-webkit-border-radius: 14px;
				-moz-border-radius: 14px;
				-ms-border-radius: 14px;
				border-radius: 14px;
				}
		.social-buttons {
			float: right;
			list-style: none;
			margin: 0;
			padding: 0;
			text-align: right;
			font-size: 0;
			-webkit-transition: opacity 300ms ease-in-out;
			   -moz-transition: opacity 300ms ease-in-out;
				-ms-transition: opacity 300ms ease-in-out;
			     -o-transition: opacity 300ms ease-in-out;
			        transition: opacity 300ms ease-in-out;
			}
			
				
.social-buttons a {
    background: url("../images/fsocial.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 43px;
    position: relative;
    transition: all 0.3s ease 0s;
    width: 43px;
}
.social-buttons a.fb {
    background-position: left top;
}
.social-buttons a.fb:hover {
    background-position: left bottom;
}
.social-buttons a.li {
    background-position: right top;
}
.social-buttons a:hover.tw {
    background-position: right bottom;
}

.social-buttons a.tw {
    background-position: right top;
}
.social-buttons > a:active {
    bottom: -2px;
} 
		/*.isTouch .social-buttons,*/
		.formActive .social-buttons {
			opacity: 0;
			}
			.social-button {
				display: inline-block;
				margin-right: 13px;
				}
				.social-button .jsVisualButton {
					position: relative;
					width: 3px;
					}
					.social-button .icon {
						position: absolute;
						display: block;
						width: 21px;
						height: 16px;
						left: 6px;
						top: 9px;
						line-height: 1em;
                        background: none;
						}
					.isPressed.social-button .icon {
						top: 10px;
						}
                    #twitterLink {
                        top: 7px;
                        left: 7px;
                        }
                    .isPressed #twitterLink {
                        top: 8px;
                        }
					.noSVG #facebookLink {
						background: url(../images/ui.png) no-repeat -91px -28px;
						width: 16px;
						height: 16px;
						top: 9px;
						left: 9px;
						}
					.noSVG .isPressed #facebookLink {
						top: 10px;
						}
					.noSVG #twitterLink {
						background: url(../images/ui.png) no-repeat -38px 0;
						width: 21px;
						height: 14px;
						top: 10px;
						left: 7px;
						}
					.noSVG .isPressed #twitterLink {
						top: 11px;
						}

/* 404 page */
.page-customerror .header {
	min-height: 90px;
	}
.page-customerror .content {
	width: 600px;
	margin-top: 0;
	padding: 92px 0 0 33px;
	}
	.page-customerror .heading {
		font-size: 37px;
		}
	.page-customerror .social-buttons {
		float: left;
		padding-top: 12px;
		}
		.page-customerror .social-button {
			margin: 0 0 0 13px;
			}
	#thing404 {
		z-index: 0;
		width: 1540px;
		top: 45px;
		left: -850px;
		position: absolute;
		}

/* Non-Semantic Helper Classes */
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
	}
.clearfix:after {
	clear: both;
	}

.isEmpty,
.hidden {
	visibility: hidden;
	}
.hidden {
	position: absolute;
	}

#user-login INPUT {
	border: 1px solid #333;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	}
#toolbar .btn .jsVisualButton {
	height: auto;
	background: none;
	}
#block-system-main,
.admin-link {
	padding: 0 30px;
	}