body {
/*
  background-color:#000023;
  */

  /*At first it was -95 pixels. I changed it to -80 because that way the Mamba Logo was not cut out */
  padding:20;
  font-family: "Courier New", Courier, monospace, Arial;
  color:#000000;
  font-weight: bold;
  position: relative;
  top: -80px;
  background-image:url('../images/snakeskin_full_gradient.jpg');
  background-size: 100% auto;
  background-attachment: fixed;
}

.orange_text {
  color: #b76325;
}

hr {
  border-color: #762f92;
  width: 900px;
}

#site_title {
/*
  font-family: Impact, Charcoal, sans-serif;
*/
  font-family: "Segoe Script","Courier New", Courier, monospace;
  font-size: 50px;
  margin-bottom: -15px;
  /* TODO: If the end system doesn't have Segoe Script, margin should be 0px */
}

a {
  color: #762f92;
  cursor: pointer;
}
a:hover {
	color: #000000;
}

.image_link {
  text-decoration: none;
}

.block_display {
  display: block;
}

#logo {
  position: relative;
  left: -20px;
  top: 60px;
}

.left_align
{
   text-align: left;
}

.content
{
  width: 900px;
}

.underline
{
	text-decoration: underline;
}

/* TODO: Nuke or comment out, as these are unused and purely
         for development purposes */
#palette {
  color: #33A1DE;
  color: #FBDB0C;   /* auburn yellow */
  color: #575a5d;   /* dark grey */
  color: #762f92;   /* lighter purple */
  color: #502063;   /* purple */
  color: #361643;   /* darker purple */
}


/*
.gold_text {
  color: #ca981b;
}
.red_text {
  color: #CD0000;
}
*/
