body {
/*
  background-color:#000023;
  */
  padding:20;
  font-family: "Courier New", Courier, monospace;
  color:#000000;
  font-weight: bold;
  position: relative;
  top: -95px;
  background-image:url('../images/snakeskin_full_gradient.jpg');
  background-size: 100% auto;
}

.orange_text {
  color: #b76325;
}

hr {
  border-color: #762f92;
  width: 900px;
}

.header {
/*
  font-family: Impact, Charcoal, sans-serif;
*/
  font-family: "Courier New", Courier, monospace; 
  font-size: 50px;
  margin-bottom: 0px;
}

h2, h3 {
  color: #FBDB0C;
}

a {
  color: #762f92;
  cursor: pointer;
}
a:hover {
	color: #000000;
}

.image_link {
  text-decoration: none;
}

.block_display {
  display: block;
}

#logo {
  position: relative;
  left: -20px;
  top: 60px;
}