body {
	background-color: #000023;
	padding: 20;
	font-family: courier;
	width: 800px;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

p {
	color:#ffffff;
}

a:link {
	color:#ffffff;
}

a:visited {
	color:#ffffff;
}