body {
	background-color: #2e293a;
	padding: 0 20px 20px 20px;
	font-family: courier;
}
p, ul {
	color: #ffffff;
}

/* Nice purple: 3E08A4 */

a:link {
	color: antiquewhite;
}

a:visited {
	color: thistle;
}
p.small_text
{
	font-size : 14px;
	line-height: 21px;
}

a:hover {
	color: #FFFFFF;
}

span#sample_imgs > a
{
	text-decoration: none;
}
span#sample_imgs img
{
	border-radius : 12px;
	max-width : 300px;
	padding : 7px;
}

p#main_title
{
	font-size: 34px;
	margin-top: 0;
}
p#main_title > span.main
{
	position: relative;
	top: 87px;
}
p#main_title img
{
	border-radius: 12px;
}
span#main_subtitle
{
	font-size: 18px;
	position: relative;
	top: -10px;
}

span.github_text
{
    font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    color: white;
    position: relative;
    left: -46px;
    top: -3px;
}

a.image_link
{
    text-decoration: none;
}

a.gamejolt
{
	text-decoration: none;
	position: relative;
}
a.gamejolt > img {
	position: absolute;
	bottom: 100px;
}

img.twitter_logo
{
    position: relative;
    left: 22px;
}

img.codepen_logo
{
	position: relative;
	left: 22px;
}

a.stackblitz {
	text-decoration: none;
}
a.stackblitz > img:nth-child(2) {
	position: relative;
	right: 10px;
	top: 3px;
}


/** * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * "Let's get responsive in here!"
 *    - Will.i.am.
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@media screen and (max-width:565px)
{
	p#main_title > span.main
	{
		top: 0;
	}
	p#main_title > img {
		position: absolute;
		top: 7px;
		right: 7px;
	}
}

@media screen and (max-width:516px) {
	p#main_title > img {
		z-index : 0;
		opacity : 0.5;
	}
}

@media screen and (max-width:417px)
{

	p#main_title
	{
		font-size: 30px;
	}
	span#main_subtitle
	{
		font-size: 16px;
	}
}

@media screen and (max-width:377px)
{
	p#main_title
	{
		font-size: 26px;
	}
	span#main_subtitle
	{
		font-size: 14px;
	}
}

@media screen and (max-width:336px)
{
	p#main_title
	{
		font-size: 22px;
	}
}

@media screen and (max-width:295px)
{
	p#main_title
	{
		font-size: 20px;
	}
}

@media screen and (max-width:275px)
{
	p#main_title
	{
		font-size: 18px;
	}
}
