body {
	background-color: #000023;
	padding: 20px;
	font-family: courier;
}
p {
	color: #ffffff;
}

/* Nice purple: 3E08A4 */

a:link {
	color: antiquewhite;
}

a:visited {
	color: #CA2E21;
}

a:hover {
	color: #FFFFFF;
}

#main_title
{
	font-size: 34px
}

.github_text
{
    font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    color: white;
    position: relative;
    left: -46px;
    top: -3px;
}

.image_link
{
    text-decoration: none;
}

.twitter_logo
{
    position: relative;
    left: 22px;
}



/** * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * "Let's get responsive in here!"
 *    - Will.i.am.
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@media screen and (max-width:417px)
{
	#main_title
	{
		font-size: 30px;
	}
}

@media screen and (max-width:377px)
{
	#main_title
	{
		font-size: 26px;
	}
}

@media screen and (max-width:336px)
{
	#main_title
	{
		font-size: 22px;
	}
}

@media screen and (max-width:295px)
{
	#main_title
	{
		font-size: 20px;
	}
}

@media screen and (max-width:275px)
{
	#main_title
	{
		font-size: 18px;
	}
}