body,td,th {
	color: #CDCDCD;
	font-family: Papyrus;
	font-weight: bold;
	font-size: 18px;
	text-align: justify;
}
body {
	background-image: url(http://mindofthewarrior.com/images/page_background.jpg);
	text-align: justify;
	background-attachment: fixed;
}
.smaller_text {font-size: 16px
}
.medium_text {font-size: 17px
}
.silver_old {
	color: #A7A7A7;
}
.golden_old {
	color: #FEFF00;
}
.darker_grey {
	color: #666666;
}
a:link {
	color: #A7A7A7;
}
a:visited {
	color: #41854D;
}
.title {
	font-size: 24px;
}
.title_cardinal {
	font-size: 24px;
	color: #C40302;
}
.title_golden {
	font-size: 24px;
	color: #F6C14D;
}
.title_golden_huge {
	font-size: 38px;
	color: #F6C14D;
}
a:hover {
	color: #FCC753;
}
.cardinal {
	color: #C40302;
}
.golden {
	color: #F6C14D;
}
.chow_fun {
	font: "Chow Fun";
}
a:active {
	color: #DED841;
}